<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBActionSheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83601C8B1F44831A00DABBE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83601CA41F44831A00DABBE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83601CAF1F44831A00DABBE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
